body{
    background-image: url("../assets/backgrounds/rain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    font-family: neue-haas-grotesk-display, sans-serif;


}

.wave{
    position: absolute;
    left:0;
    bottom:30%;
    width:100%;
    pointer-events: none;
    background-repeat: no-repeat;
    opacity: 0.97;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contentBox{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #ffffff;
    opacity: 0.94;
    min-height: 15em;

}
.weatherbox:hover{
    border-radius: 20px;
    background-color: #e3e3e3;
    padding-left: 10px;
    margin-left: -10px;
    cursor: pointer;

}

.searchBar{
    margin-top: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: context-menu;
    opacity: 0.8;
}

#weatherboxContainer {
    width : 85%;
    margin : 0 auto;
    margin-top: 1em;
    display : flex;
    justify-content : space-between;
}

.weatherbox {
    padding-bottom: 0.3em;
    height : 14em;
    width : 15em;
    min-width: 15em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.sidebyside {
     margin : 0 auto;
    max-width: 15em;
    display : flex;
    justify-content : space-between;
}
.imageSize{
    max-width:100%;
    max-height:100%;
}
.weatherDetail {
    line-height: 0.01em;
    height : 8em;
    width : 7.5em;
    min-width: 7.4em;
    text-align: center;
    pointer-events: none;


}

.wbTitle{
    font-weight: bolder;
    font-size: large;
}

.nowTemp{
    padding-top:1em;
    font-weight: bold;
    font-size: x-large;

}


.wbTempLabel{
    font-weight: lighter;
    font-size: medium;
}

.wbTemp{
    font-weight: bold;
    font-size: x-large;
}



.search {

     width: 100%;
     padding: 0.750em 1.500em;
     font-size: 0.8750em;
     line-height: 1.1250em;
    font-weight: bolder;
     background-color: white;
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
     background-repeat: no-repeat;
     background-size: 1.1250em 1.1250em;
     background-position: 95% center;
     border-radius: 0.5em;
     border: 0.0625em solid white;
}